.root
{
    -fx-background-image: url("Background.jpg");
}

.label
{
    -fx-font-size: 12px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-text-fill: #20B2AA;
}

#formatTitle
{
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #20B2AA;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);

}

.button {
   -fx-text-fill: white;
   -fx-font-family: "Arial Narrow";
   -fx-font-weight: bold;
   -fx-background-color: linear-gradient(#035F85, #1385B4);
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
  -fx-background-color: linear-gradient(#1385B4, #035F85);
  -fx-text-fill:white;
  -fx-font-weight:bold;

}

.button:pressed
{
  -fx-background-color: linear-gradient(#20a0bd, #0070d8, #20a0bd);
  -fx-text-fill: #70ecff;
  -fx-font-weight:bold;
}

#notification
{
    -fx-fill: #ff7070;
    -fx-font-weight: bold;
}

.list-view {
    -fx-background-color: #232323;
}

.list-view .list-cell: selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-view .list-cell: {
    -fx-background-color: white;
}

.list-view .list-cell: hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}